.MeetingPage {

  .MeetingBoxComponent {
    min-height: 90vh;
    padding: 1rem;
    background: linear-gradient(
      60deg,
      rgba(84, 58, 183, 1) 0%,
      rgba(0, 172, 193, 1) 100%
    );
  }
  .MeetingPageComponent {
    background-color: black;
    min-height: 100vh;
    background: linear-gradient(
        60deg,
        rgba(84, 58, 183, 1) 0%,
        rgba(0, 172, 193, 1) 100%
      );
  }
  .MeetingGridComponent {
    min-height: 80vh;
    // background-color: white;
  }
  .VideoGridComponent {
    min-height: 80vh;
  }
}
